   body {
        margin: 0;
    }
    header {
        background-color: #000000; width: 100%; display: flex; flex-direction: column;
    }
    
    .logo_nav_bar {
        display: flex; width: 100%; align-items: center;
        justify-content: center;
    }
    
    .nav_bar {
        display: flex; width: 100%; align-items: center; justify-content: center;
    }
    
    .logo_estilo {
        padding: 5px;
    }
    
    .nav_bar div nav{
        display: flex ; width: 100%; justify-content: end;
    }
    
    .menu_list {
        display: flex; width: 100%; ;justify-content: flex-end;
    }
    
    .menu_list li a{ 
        display: flex; 
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(201, 201, 201); 
        justify-content: space-around;
        padding: 0px 15px;
    }
    
    .menu_list li a:hover {    
        display: flex;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal; 
        color: rgb(255, 255, 255);
    }
        
    
    /* Seccion principal */
    
    .banner_inicio {
        width: 100%; height: 500px;
        background-size: cover;
        background-position: center;
    }
    .banner_inicio img {
        width: 100%; height: 100%;
        object-fit: cover;
    }
    
    /* Seccion texto principal */
    
    .introduccion{
        display: flex ; justify-content: center;
        flex-direction: column;
        background-color: rgb(229, 229, 229);
        padding: 150px 0px;
    }
    
    .texto_principal{
        display: flex; text-align: center;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        margin: 0px 130px; padding: 30px 0px;
    }
    
    .texto_secundario{
        display: flex; text-align: center;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        margin: 0px 130px; padding: 30px 0px;
    }
    
    .mision{
        display: flex ; justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        padding: 150px 0px;
    }
    
    .texto_principal_blanco{
        display: flex; text-align: center;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        color: white;
        margin: 0px 130px; padding: 30px 0px;
    }
    
    .texto_secundario_blanco{
        display: flex; text-align: center;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        color: white;
        margin: 0px 130px; padding: 30px 0px;
    }
    
    .galeria_inicio {
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .galeria_inicio div{
        display: flex; 
        justify-content: center;
    }
    
    /* Seccion footer*/
    .footer {
        display: grid;
        grid-template-columns:3fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 10px;
        background-color: #000000; width: 100%;
    }
    .texto_footer {
        display: flex; text-align: start;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        color: white;
        margin: 30px 30px;
    }

    .texto_footer p {
         margin: 0px
    }
    .redes_sociales {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .texto_redes_sociales p a{
        display: flex;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(201, 201, 201);
        size: 15px;
        padding: 0px 15px;
    }
    .logo_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* SERVICIOS */

    .servicios_tarjetas{
        display: flex; flex-wrap: wrap;
        justify-content: center;
        margin: 30px 0px;
    }

/* TABLET*/ 
    @media (max-width: 768px), (min-width: 427px) {
    header {
        display: flex;
    }


    .logo_nav_bar {
        display:flex;
    }

    .menu_list {
        display: flex; flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    .footer {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #000000; width: 100%;
    }

    .texto_footer {
    display: flex; text-align: center;
    }

    .texto_redes_sociales p a{
    display: flex; justify-content: center;
    }
    .redes_sociales{
    display: flex; justify-content: center;}
    }

    /* Galeria */ 
    .galeria_inicio {
        display: flex; flex-direction:column;
        flex-wrap: nowrap;
        justify-content:center;
        
    }
    .texto_galeria div{
        text-decoration: none;
        display: flex; text-align: center;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0px 30px; padding: 30px 0px;
    }
        

/* CELULAR */ 
    @media (max-width: 426px){ 

        .menu_list li { 
            display: flex; flex-wrap: wrap;
        }

        .introduccion{
            display: flex ; justify-content: center;
            flex-direction: column;

            padding: 150px 0px;
        }

        .texto_principal{
            font-size: 40px;
            margin: 0px 0px; padding: 30px 0px;
        }
        
        .texto_secundario{
            font-size: 18px;
            margin: 0px 40px; padding: 30px 0px;
        }

        .texto_principal_blanco{
            font-size: 40px;
            margin: 0px 0px; padding: 30px 0px;
        }
        
        .texto_secundario_blanco{
            font-size: 18px;
            margin: 0px 40px; padding: 30px 0px;
    }


    .galeria_inicio div{
        display: none;
    }

/* Footer */

}

/* COMPUTADORAS*/
@media (min-width: 769px){
    
    header {
    background-color: #000000; width: 100%; display: flex; flex-direction: row;
    }
    body {
        margin: 0;
    }
    header {
        background-color: #000000; width: 100%; display: flex;
    }
    
    .logo_nav_bar {
        display: flex; width: 100%; align-items: center;
        justify-content: start;
        margin: 15px; }
   
    
    .nav_bar {
        display: flex; width: 100%; align-items: center; justify-content: end;
    }
    
    .logo_estilo {
        padding: 5px;
    }
    
    .nav_bar div nav{
        display: flex ; width: 100%; justify-content: end;
    }
    
    .menu_list {
        display: flex; width: 100%; ;justify-content: flex-end;flex-wrap: nowrap;
    }
    
    .menu_list li a{ 
        display: flex;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(201, 201, 201); 
        justify-content: space-around;
        padding: 0px 15px;
    }
    
    .menu_list li a:hover {    
        display: flex;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal; 
        color: rgb(255, 255, 255);
    }

    .footer {
        display: grid;
        grid-template-columns:3fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 10px;
        background-color: #000000; width: 100%;
    }
    .texto_footer {
        display: flex; text-align: start;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        color: white;
        margin: 30px 30px;
    }

    .texto_footer p {
         margin: 0px
    }
    .redes_sociales {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .texto_redes_sociales p a{
        display: flex; justify-content: start;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(201, 201, 201);
        size: 15px;
        padding: 0px 15px;
    }
    .logo_footer {
        display: flex;
        justify-content: center;
        align-items: center;
}

}