/* banner inicio */

.banner_inicio {
    width: 100%; height: 500px;
    background-size: cover;
    background-position: center;
}
.banner_inicio img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.banner_inicio_m {
    width: 100%;
    background-color: #e8eaed ;
    background-position: center;
}
.banner_inicio_l {
    display: none;
}