
@mixin tarjetas ($color_fondo,$margin,$padding){
    background-color: $color_fondo;
    margin:$margin;
    padding:$padding;
}

/*Tarjetas*/
.servicios_tarjetas{
    display: flex; justify-content: center;
    flex-wrap: wrap;
}

.card{
    @include tarjetas(rgb(1, 1, 1),10px,0 )
}
.card-body {
    display: flex; justify-content: center;
    flex-wrap: wrap;
}

.card-text{
    display: flex; text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: white;
        & b {
            font-size: 18px;
            font-weight: 500;
        }
}

.card_instagram{
    @include tarjetas(rgb(218, 101, 224),10px,10px );
    border-radius: 5%;
        & img {
            height: 30px; width: 30px;
        }
       }

.card_whatsapp{
    @include tarjetas(rgb(90, 208, 69),10px,10px);
    & img {
        height: 30px; width: 30px;
    }

}
.card_email{
    @include tarjetas(rgb(94, 89, 253),10px, 10px);
    & img {
        height: 30px; width: 30px;
    }

}

.imagen_iconos{
    display: flex;
    justify-content: center;
    margin: 10px;
    }

.galeria_pagina div{
    display: flex; justify-content: center;
    flex-wrap: wrap;
}